name: SonarCloud Scan

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  sonar:
    name: SonarCloud Scan
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: 17
          distribution: 'temurin'

      - name: SonarCloud Scan
        uses: SonarSource/sonarqube-scan-action@v6
        with:
          organization: akshitha-jpg
          token: ${{ secrets.SONAR_TOKEN }}
          projectKey: akshitha-jpg_calc-python
          sources: src
          coverageReportPaths: coverage.xml

